/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #efefe4;
  --color-secondary: #67aa82;
  --color-dark: #1c1d3b;
  --color-light: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--color-dark);
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-light);
}

.control-nav {
    align-items: center;
    padding: 2rem;
    background: var(--color-light);
}

section {
  height: 100%;
  padding: 2rem;
  background: var(--color-primary);
}

button {
  height: 30px;
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    background-color: #f0f0f0;
}

.modal-overlay {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.modal-body {
    padding-top: 15px;
}

.close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
}


.modal-body form input,
.modal-body form select  {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.modal-body form button {
background-color: #4CAF50;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
width: 100%;
}

.modal-body form button:hover {
background-color: #45a049;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    background-color: #f0f0f0;
}

.login-container form {
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

input[type=text], input[type=password],input[type=date], select, textarea {
  width: 100%; /* Makes fields span the container width */
  padding: 12px; /* Inner spacing */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  margin-top: 6px; /* Spacing from label */
  margin-bottom: 16px; /* Spacing to next element */
  resize: vertical; /* Allows vertical resizing of textareas */
}

.login-container .btn-primary {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5em;
    
}

.login-container .btn-primary:hover {
    background-color: #0056b3;
}

.login-container .btn-secondary {
    width: 100%;
    border: 1px solid #6c757d;
    border-radius: 4px;
    background-color: #6c757d;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.login-container .btn-secondary:hover {
    background-color: #5a6268;;
}

/* CSS classes provided by Angular for validation feedback */
input.ng-invalid.ng-touched {
    border-color: #dc3545; /* Red border for invalid input that has been touched */
}

